html {
	font-family: sans-serif;
	font-size: 50px;
}

h2 {
	text-align: center;
	color: #fa0000;
}

body { 
font-size: .5em;


}

.infolegend {
	text-weight: bold;
}

.infoq {
	font-weight: bold;
	font-size: .75em;

}

p {
	text-align: center;
}

ul {
	list-style-type: none;
}