html {
	font-family: sans-serif;
	font-size: 50px;
}

h2 {
	text-align: center;
	color: #fa0000;
}

body { 
font-size: .5em;


}

.legquestions {
	font-weight: bold;
}


.infoq {
	font-weight: bold;
	font-size: .75em;

}

p {
	text-align: center;
}

label {
	margin: 5px;
	font-weight: bold;
}

ul label {
	font-weight: normal;
}

ul {
	list-style-type: none;
	text-align: left;
}

.q {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;

}

#send {
	background: #f5f5f5;
	border-radius: 10px;
	border: 5pxpx;
	height: 60spx;
	width: 60px;
	font-size: 20px;

}