html {
	font-family: sans-serif;
	font-size: 50px;
}

h2 {
	text-align: center;
	color: #fa0000;
}

body { 
font-size: .5em;}

legend {
	font-weight: bold;
}

.infoq {
	font-size: .75em;
	font-weight: bold;
	padding: 5px;
	margin: 10px;
}

.firstname {
	margin: 20px;
}

p {
	text-align: center;
}